body{
    background-image:url(./../images/country-train.jpeg);
}
#titleBlock{
    text-align:center;
    color:white;
    text-shadow: 2px 2px 4px black;
    padding: 60px;
}
#mainContent{
    
    margin:10px auto;
}
.trainDisplay{
    padding:10px;
    margin:0px auto
}
#currentTrains{
    border:2px solid black;
    opacity: 0.7;
    background:white;
    
}
.inputLabel{
    width:100%;
}
#addTrain{
    border:2px solid black;
    opacity: 0.7;
    background:white;
    
    

}
.formBox{
    padding:20px;
    position: relative;
}
.heading{
    padding:5px;
    border-bottom: 2px solid black;
    color:white;
    background:black;
    
}
.headTrainDisplay{
    font-weight: bold;
}
.row{
    margin:0px;
}
.trainContent{
    border-bottom: 1px black thin;
}
.clearButton{
    position: absolute;
    bottom: 20px;
    right:20px;
}